<?xml version='1.0' encoding='utf-8'?>
<widget id="appppp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>app</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="ios" spec="~4.5.5" />
    <access origin="http://www.domain.com" browserOnly="true" />
    function loadURL(url){
    navigator.app.loadUrl(url, { openExternal:true });
 }
  <a onclick="loadURL('http://www.domain.com')" href="#">Url</a>
</widget>
